html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	height: 100%;
	/* padding: 8px; */
	/* box-sizing: border-box; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
	--primary: #242333;
	--alt-primary: #333149;
	--secondary: #01B0D3;
	--alt-secondary: #2dc7e5;
	--midpoint: #136A83;
	--ternary: #ffe26a;
	--alt-ternary: rgb(255, 176, 76);
	--accent: #bebebe;
	--text: #FFFFFF;
	--danger: #DC3545;
	--alt-danger: #BC3545;
	--success: #198754;
	--alt-success: #298754;

	/* background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%); */
	background-color: var(--primary);
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: var(--ternary);
	transition: 0.5s;
}

a:link,
a:visited {
	color: var(--text);
}

a:visited {
	color: var(--text);
}

a:active {
	color: red;
}

.page {
	margin-left: 60px;
	margin-right: 60px;
	padding: 80px 40px 0 40px;
	height: fit-content;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

.page-title {
	font-size: 64px;
	margin: 20px;
	/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
	color: var(--text);
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 100;
}

.container-title {
	/* height: 10%; */
	width: 98%;
	background: var(--secondary);
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 1%;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 100;
}

.content {
	color: var(--text);
}

.content-container {
	color: var(--text);
	display: flex;
	width: 100%;
	height: fit-content;
	/* background: linear-gradient(90deg, var(--accent) 0%, var(--secondary) 100%); */
	/* border-radius: 10px; */
	border-style: solid;
	border-left-color: #333;
	border-width: .1px;
	box-shadow: 10px 10px #333;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

button,
input[type=submit] {
	height: fit-content;
	width: fit-content;
	background: var(--secondary);
	border: none;
	padding: 1%;
	/* position: relative; */
	font-size: 16px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
	color: var(--text);
}

.deleteButton {
	background: var(--danger);
	height: 30px;
	width: 30px;
	font-size: 20px;
	padding: 5px;
}

.deleteButton:hover {
	background: var(--alt-danger);
}

input {
	height: fit-content;
	font-size: 16px;
	padding: 1%;
}

button:hover,
input[type=submit]:hover {
	background: var(--alt-secondary);
	transition: 0.5s;
}

table {
	color: var(--text);
	text-align: center;
	width: 100%;
}

table tr {
	border-bottom: 1px solid #dddddd;
}

table td {
	padding: 10px;
}

table tbody tr:nth-of-type(odd) {
	background: var(--secondary);
	color: var(--primary);
}



table tbody tr:hover {
	background: var(--midpoint);
	transition: 0.2s;
	color: var(--text);
	animation: wash forwards 0.2s ease-in-out;
}

table tbody tr:nth-of-type(even):hover {
	animation: alt-wash forwards 0.2s ease-in-out;
}

@keyframes alt-wash {
	0% {
		background: var(--primary);
	}

	10% {
		background: linear-gradient(-90deg, var(--primary), var(--midpoint) 90%)
	}

	20% {
		background: linear-gradient(-90deg, var(--primary), var(--midpoint) 80%)
	}

	30% {
		background: linear-gradient(-90deg, var(--primary), var(--midpoint) 70%)
	}

	40% {
		background: linear-gradient(-90deg, var(--primary), var(--midpoint) 60%)
	}

	50% {
		background: linear-gradient(-90deg, var(--primary), var(--midpoint) 50%)
	}

	60% {
		background: linear-gradient(-90deg, var(--primary), var(--midpoint) 40%)
	}

	70% {
		background: linear-gradient(-90deg, var(--primary), var(--midpoint) 30%)
	}

	80% {
		background: linear-gradient(-90deg, var(--primary), var(--midpoint) 20%)
	}

	90% {
		background: linear-gradient(-90deg, var(--primary), var(--midpoint) 10%)
	}

	100% {
		background: var(--midpoint);
	}
}

@keyframes wash {
	0% {
		background: var(--secondary);
	}

	10% {
		background: linear-gradient(-90deg, var(--secondary), var(--midpoint) 90%)
	}

	20% {
		background: linear-gradient(-90deg, var(--secondary), var(--midpoint) 80%)
	}

	30% {
		background: linear-gradient(-90deg, var(--secondary), var(--midpoint) 70%)
	}

	40% {
		background: linear-gradient(-90deg, var(--secondary), var(--midpoint) 60%)
	}

	50% {
		background: linear-gradient(-90deg, var(--secondary), var(--midpoint) 50%)
	}

	60% {
		background: linear-gradient(-90deg, var(--secondary), var(--midpoint) 40%)
	}

	70% {
		background: linear-gradient(-90deg, var(--secondary), var(--midpoint) 30%)
	}

	80% {
		background: linear-gradient(-90deg, var(--secondary), var(--midpoint) 20%)
	}

	90% {
		background: linear-gradient(-90deg, var(--secondary), var(--midpoint) 10%)
	}

	100% {
		background: var(--midpoint);
	}
}

/* Modal */

.modal-container {
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	position: fixed;
	background: black;
	opacity: 0.5;
	animation: semifadein 0.5s;
	-webkit-animation: semifadein 0.5s;
}

.modal-window {
	top: 0;
	left: 0;
	transform: translate(20%, 20%);
	width: 60%;
	height: fit-content;
	position: fixed;
	background: var(--secondary);
	border-radius: 20px;
	padding: 5%;
	animation: fadein 0.5s;
	-webkit-animation: fadein 0.5s;
}

.close {
	justify-self: end;
	font-family: monospace;
	float: right;
	width: 30px;
	height: 30px;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes semifadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.5;
	}
}

.modalFormContainer {
	background: #ffffff;
	width: 90%;
	height: inherit;
	padding: 5%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.modalForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
}