html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	height: 100%;
	/* padding: 8px; */
	/* box-sizing: border-box; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
	--primary: #242333;
	--secondary: #01B0D3;
	--midpoint: #136A83;
	--alt-secondary: #2dc7e5;
	--ternary: #ffe26a;
	--accent: #bebebe;
	--text: #FFFFFF;
	/* background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%); */
	background-color: var(--primary);
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--ternary);
	transition: 0.5s;
}

a:link {
	color: var(--text);
}

a:visited {
	color: var(--text);
}

a:hover {
	color: var(--ternary);
	transition: 0.5s;
}

a:active {
	color: red;
}

.page {
	margin-left: 60px;
	margin-right: 60px;
	padding: 80px 40px 0 40px;
	height: fit-content;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

.page-title {
	font-size: 64px;
	margin: 20px;
	/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
	color: var(--text);
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 100;
}

.container-title {
	/* height: 10%; */
	width: 98%;
	background: var(--secondary);
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 1%;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 100;
}

.content-container {
	color: var(--text);
	display: flex;
	width: 100%;
	height: fit-content;
	/* background: linear-gradient(90deg, var(--accent) 0%, var(--secondary) 100%); */
	/* border-radius: 10px; */
	border-style: solid;
	border-left-color: #333;
	border-width: .1px;
	box-shadow: 10px 10px #333;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

button,
input[type=submit] {
	height: fit-content;
	width: fit-content;
	background: var(--secondary);
	border: none;
	padding: 1%;
	/* position: relative; */
	font-size: 16px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
}

button:hover,
input[type=submit] {
	background: var(--alt-secondary);
	transition: 0.5s;
}

table {
	color: var(--text);
	text-align: center;
	width: 100%;
}

table tr {
	border-bottom: 1px solid #dddddd;
}

table td {
	padding: 10px;
}

table tbody tr:nth-of-type(odd) {
	background-color: var(--secondary);
	color: var(--primary);
}

table tbody tr:hover {
	background: var(--midpoint);
	transition: 0.2s;
}